/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}
/* Page background */
body {
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* center container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* card */
.card {
    background: #0b0f14;
    color: #ffffff;
    width: 360px;
    height: 520px;
    padding: 30px;
    position: relative;
    border-radius: 8px;
}

/* name */
.name {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* lines */
.lines {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 40px 0;
}

/* Main title */
.frame h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.frame span {
    color: #38bdf8;
}
/* subtitles */
.frame h2 {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 0.85;
}

/* Year */
.year {
    position: absolute;
    bottom: 60px;
    left: 30px;
    font-size: 0.9rem;
    opacity: 0.7;
}
/* website */
.website {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size:  0.8rem;
    opacity: 0.6;
}
/* decorated lines */
.card::before
.card::after {
    content: "";
    position: absolute;
    background: #ffffff;
}
.card::before {
    width: 1px;
    height: 60px;
    top: 30px;
    right: 30px;
}
.card::after {
    height: 1px;
    width: 120px;
    bottom: 90px;
    left: 30px;
}